<!DOCTYPE html>
<html>
<head>
  <title>Magicbus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="nav">
    <% if current_user %>
      <%= link_to "Editer le profil", edit_user_path(current_user.id) %>
      <%= link_to "Déconnexion", user_session_path(current_user.id), method: :delete %>
    <% else %>
      <%= link_to "S'enregistrer", new_user_path %> |
      <%= link_to "Se connecter", new_user_session_path %>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
<%= yield %>

</body>
</html>
